.grid
  background: #ddd

  &:after
    content: ''
    display: block
    clear: both

.grid-item
  float: left
  width: 300px
  border: 1px solid black
  margin-top: 20px

  img
    display: block
    max-width: 100%