@require "style/vars.styl"
@require "style/fonts.styl"

*
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

.container
  max-width: 1200

@require "components/nav.styl"
@require "components/footer.styl"
@require "style/masonry.styl"
