footer
  .container
    p &copy; Scott Stephens, All Rights Reserved
    p.title= site.title
    ul.social
      li: a(href='//twitter.com/voidtrekker'): i.fab.fa-twitter
      li: a(href='//voidtrekkerblog.tumblr.com/'): i.fab.fa-tumblr
      li: a(href='//www.instagram.com/voidtrekker/'): i.fab.fa-tumblr
