footer
  display: flex
  justify-content: space-between

  p
    flex: 1

  ul.social
    display: flex
    align-items: stretch
    justify-content: space-between
    width: 100%
    list-style-type: none
    margin: 0
    padding: 0
    flex: 1

    li a
      display: block
      flex: 0 1 auto
      padding: 16px
