nav
  .navbar
    .logo
      a(href='/')
        img(src='/favicon/favicon-32.png' alt=site.title)
        span= site.title
    ul
      li: a.current(href='/') Home
      li: a(href='/blog') Blog
      li: a(href='/category') Category
      li: a(href='/tags') Tags
